<div class="alert alert-primary">

helll world

{{title}}

{{ime + "hellow"}}
</div>

<div>
  <input type="text" placeholder="Enter username" #username (keydown)="asdf2(username.value)">{{username.target.value}}
  <input type="text" placeholder="Enter password" #password>
  <input type="text" placeholder="Repeat password" #repeatPassword>
  <button (click)="checkPasswordMatch(password.value, repeatPassword.value)" >Confirm</button>
</div>
<div>
  {{status}}

  <input type="text" [placeholder]="ime + ' adsalkh'" disabled="true">
  <button (click)="changeName()" class="success button">Change name</button>

</div>